@import "tailwindcss";

* {
    box-sizing: border-box;
}


@media screen and (max-width:500px) {

    .hideAt500 {
        display: none;
    }

    .flexColAt500 {
        flex-direction: column-reverse;
    }

    .textCetrAt500 {
        text-align: center;
    }
}

@media screen and (max-width:375px) {

    .hideAt375 {
        display: none;
    }

    .blockAt375 {
        display: block;
    }

    .headingAt375 {
        font-size: 30px;
    }

    .heading2At375 {
        font-size: 26px;
    }
    .pxAt375{
        padding: 20px 15px;
    }
}